/*
TODO

1. lead картинка - img

2. каждая картинка - элемент блока

3. блок с местом - отдельный блок

4. ссылки общие, но стилизовать через модификатор

5. RU - язык, возможно нужен active вариант

6. Desktop First сначала

7. Весь сайт можно сверстать на гридах: весь body - грид таблица, фото - грид, place - грид

8. В брейкпойнтах - размеры элементов В ТОЧНОСТИ как по макету, а в промежутках - все ДОСТУПНОЕ пространство;

8.1. Больше 1280 пикселей - оставаться в брейкпойнте 1280 пикселей

9. Глобальное наследовавние по тегам не допускается по БЭМ, шрифт прописывать для тех элементов, где текст

10. граница контента общая - 1184px и margin: 0 auto

11. У шапки, фоток и подвала отступы по бокам - 48, 24 и 16 пикселей (разные медиазапросы), сделать класс микс
.page__section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 48px;
  box-sizing: border-box;
}

12. для ретина - <picture> тег, для разных крано разные картинки, для ретина - в 2 раза больше размер из макета качать
[не в этом проекте]

13. Не указывать размеры текстовым блокам, можно только максимальную ширину

13.1. Не указывать высоту блокам вообще, они зависят от наполнения, можно использовать минимальную высоту

14. Дробные пиксели - математически округлять, проценты можно не округлять

15. Будут в Слаке посты подсказки по верстке places и фото

16. Посмотреть в эталон в скриншотах вебинара и в прошлые проекты Github

================ */


html, body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background: pink;
  min-height: 40px;
}

.footer {
  background: rgba(0, 0, 0, .3);
  min-height: 40px;
}

.intro {
  min-height: 40px;
  background: yellow;
}

.cover {
  min-height: 40px;
  background: red;
}

.page__section {
  max-width: 1280px; /* ширина по макету с учетом padding по бокам 48+48, а затем обернули в border-box*/
  padding: 0 48px;
  box-sizing: border-box;
  margin: auto;
}

.page__section_narrow {
  max-width: 1080px; /*с учетом padding*/
}

.page__section_cover {
  max-width: 1184px;
  padding: 0;
}

@media (max-width: 1023px) {
  .page__section {
    padding: 0 24px;
  }

  .page__section_narrow {
    padding: 0;
  }

}


@media (max-width: 767px) {
  .page__section {
    padding: 0 16px;
  }
}



/* граница контента: 1184px + margin: 0 auto + 48px */
