/*
TODO

1. Desktop First сначала

2. Весь сайт можно сверстать на гридах: весь body - грид таблица, фото - грид, place - грид

2. В брейкпойнтах - размеры элементов В ТОЧНОСТИ как по макету, а в промежутках - все ДОСТУПНОЕ пространство;

3. Больше 1280 пикселей - оставаться в брейкпойнте 1280 пикселей

4. Глобальное наследовавние по тегам не допускается по БЭМ, шрифт прописывать для тех элементов, где текст

5. граница контента общая - 1184px и margin: 0 auto

6. У шапки, фоток и подвала отступы по бокам - 48, 24 и 16 пикселей (разные медиазапросы), сделать класс микс
.page__section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 48px;
  box-sizing: border-box;
}

7. для ретина - <picture> тег, для разных крано разные картинки, для ретина - в 2 раза больше размер из макета качать
[не в этом проекте]

8. Не указывать размеры текстовым блокам, можно только максимальную ширину

9. Не указывать высоту блокам вообще, они зависят от наполнения, можно использовать минимальную высоту

10. у тебя блок всегда занимает ширину в пределах от 1184 до 320.
Высота минимальная и размеры текста меняются в брейкпоинтах.
если в каком-то месте (в промежутках между брейкпоинтами)
что-то выглядит некрасиво - у тебя есть право добавить дополнительные
брейкпоинты и поменять размеры заранее на более мелкие

у тебя с 1024 и по 1279 минимальная высота блока должна быть 640px,
начиная с 1280 высота блока должна быть 740. Нигде в задании или ТЗ не написано,
что высота этого блока должна зависеть от ширины

11. viewport

12. медиазапросы
"Дизайн-макет — это демонстрация, как должен выглядеть сайт на различных разрешениях.
Эти разрешения вовсе не должны совпадать с точками перелома в медиа-запросах.
Рекомендуем сосредоточиться на пяти интервалах:
от 1280 пикселей — от стандартных ноутбуков и до бесконечности,
от 1024 и до 1280 — для небольших ноутбуков,
от 768 и до 1024 пикселей — от вертикального до горизонтального положения планшета,
от 425 и до 768 пикселей — от большого смартфона до вертикального положения планшета,
до 425 пикселей — мобильные устройства.
Этих переломных точек хватает, чтобы сайт вёл себя однородно — без явных отклонений от
заданного в макете поведения. Но если их всё же не хватит, добавьте свои и уточните
поведение элементов для интервалов поменьше. А если блоки ведут себя как на макете —
не пишите медиа-запрос. С опытом придёт умение стройно использовать правила CSS и з
адействовать меньшее количество интервалов без потери в качестве отображения."

13. сократить количество типов секций

================ */


html, body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background: pink;
  min-height: 40px;
}

.footer {
  background: rgba(0, 0, 0, .3);
  min-height: 40px;
}

.intro {
  min-height: 40px;
  background: yellow;
}

.cover {
  min-height: 40px;
  background: red;
}

.page__section {
  max-width: 1280px; /* ширина по макету с учетом padding по бокам 48+48, а затем обернули в border-box*/
  padding: 0 48px;
  box-sizing: border-box;
  margin: auto;
}

.page__section_narrow {
  max-width: 1080px; /* с учетом padding */
}

.page__section_cover {
  max-width: 1184px;
  padding: 0;
}

@media (max-width: 1023px) {
  .page__section {
    padding: 0 24px;
  }

  .page__section_narrow {
    padding: 0;
  }

}

@media (max-width: 767px) {
  .page__section {
    padding: 0 16px;
  }
}

/* граница контента: 1184px + margin: 0 auto + 48px */
