.header__logo {
  min-width: 176px;
  min-height: 52px;
  background-image: url('../../../images/header-logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 767px) {
  .header__logo {
    min-width: 142px;
    min-height: 42px;
  }
}
