.page__section {
  max-width: 1280px; /* ширина по макету с учетом padding по бокам 48+48, а затем обернули в border-box*/
  margin: 0 auto;
  padding: 0 48px 90px;
  box-sizing: border-box;
}

@media (max-width: 1023px) {
  .page__section {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .page__section {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 64px;
  }
}
