.places__item {
  margin-bottom: 80px;
}

.places__item:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 1023px) {
  .places__item {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .places__item {
    margin-bottom: 40px;
  }
}
